@import "./styles/variables.css";
@import "./styles/global.css";
@import "./styles/utilities.css";
@import "./styles/animations.css";

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: var(--radius-full);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-light);
}

/* Selection styles */
::selection {
  background-color: var(--primary);
  color: white;
}
